@font-face{
  font-family "Chancery"
  src url("/fonts/apple-chancery-webfont.woff2")
}

.navigator{
  display flex
  justify-content space-between
  background-color #30415655
  padding-left 15px
  margin-top 4px
  height 54px
  .search-form {
    padding-top 15px
    padding-right 13px
    padding-left 7px

    .search-form-input{
      border 1px solid #c9cacc55
      height 22px
      line-height 22px
      font-size 14px
      color #fff
      background-color #55728e55
      padding-left 3px
      border-radius 0.2em
    }
  }
}

.blog-title{
  font-family "Chancery"
  font-size 32px
  line-height 54px
}

.blog-subtitle{
  font-size 13px
}

.menu-item{
  display inline-block
  list-style none
  margin-right 15px

  a:hover{
    display inline-block
    padding-bottom 1px
    border-bottom 2px solid #c9cacc44
  }
}