.page-nav:before {
  content 'To '
}
.page-nav {
  position relative
  bottom 0
  border-top 1px solid #30415655
  padding-left 1em
  padding-top 4px
  margin-bottom 4px
  * {
    margin-left 4px
    display inline-block
    padding 0 0.5em
    background-color #30415655
  }
  .current {
    border 1px solid #ffffff55
  }
}