<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <div class="main">
    <div class="navigator-wrapper"><%- partial('_partial/navigator') %></div>
    <div class="content-wrapper"><%- body %></div>
    <div class="footer"><%- partial('_partial/copyright') %></div>
  </div>
</body>

</html>