<div class="copyright">
    &gt;_ Copyright &copy; 2019 <a target="_blank" href="https://github.com/sagittaria">Sagittaria</a>
    | Powered by <a target="_blank" href="https://hexo.io/">Hexo</a>
</div>